$font-family--primary: 'Josefin Sans';
$font-family--secondary: 'Carter One';

@mixin title {
  font-size: 5rem;
  font-family: $font-family--secondary;
}

@mixin meta {
  font-size: 1.4rem;
  // font-family: $font-family--primary
}
