@import '~app/styles/typography';

.controls {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

.control {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: auto;
  padding-top: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.input {
  border-radius: 4px;
  border: 0;
  font-size: 1.6rem;
  padding: 0.5rem;
  font-family: $font-family--primary;
}

.select {
  font-size: 2rem;
  margin: 0 1rem;
  background-color: white;
}
