@import '~app/styles/typography';
@import '~app/styles/colors';

.heroes_list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  max-width: 70rem;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    border-radius: 1rem;
    // background-color:
  }
}

.nothing {
  @include title;
}

.loadmore {
  display: block;
  -webkit-appearance: none;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: $button-bg;
  color: $button-text;
  margin: 2rem auto;

  &:focus {
    outline: none;
  }
}
