@import '~app/styles/typography';
@import '~app/styles/colors';

.hero {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  background-color: $dark;
  border-radius: 6px;
  box-shadow: 0 0 2px 2px $dark;
  margin-bottom: 2rem;

  &__info {
    flex: 1 1 auto;
    padding: 2rem 2rem 2rem 0;
  }

  &__image {
    flex: 0 0 20rem;
    width: 20rem;
    height: 20rem;
  }

  &__name {
    margin: 0;
    padding: 0;

    @include title;

    line-height: 1em;
    margin-bottom: 2rem;
    align-self: flex-start;
  }

  @media only screen and (max-width: 414px) {
    flex-direction: column;

    &__info {
      padding: 2rem;
    }
  }
}

.meta {
  @include meta;

  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px dashed lighten($dark, 50%);
  padding-top: 2rem;
  width: 100%;

  &__item {
    box-sizing: border-box;
    max-width: 50%;
    flex: 1 1 50%;

    &:nth-child(1),
    &:nth-child(3) {
      padding-right: 0.5rem;
    }

    &:nth-child(2),
    &:nth-child(4) {
      padding-left: 0.5rem;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__term {
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.2em;
  }

  &__def {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.4em;
  }
}
