@import '~app/styles/colors';
@import '~app/styles/typography';

body {
  background-color: $dark-accent;
  font-family: $font-family--primary;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: $text;
}
